*~
*.log
Makefile.conf
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
tests.xml
el-tests.xml
bin/
obj/
lib/
el-aunit.xml
regtests/results
cover
alire
wiki
elada.cov
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
