*~
*.log
Makefile.conf
config.status
CHANGES
*.cproject
*.gb_project
*.project
*.log
ChangeLog
.settings
configure.lineno
t.gpr
elada.gpr
elada_tests.gpr
tests.xml
el-tests.xml
autom4te.cache
bin/
obj/
lib/
el-aunit.xml
regtests/results
cover
alire
wiki
elada.cov
*.substvars
debian/lib*
debian/.debhelper/
debian/autoreconf.after
debian/autoreconf.before
debian/debhelper-build-stamp
debian/files
